.container {
  display: flex;
  gap: 5px;
  flex-direction: column;
  padding: 15px 0;
}

.author {
  font-size: 14px;
}

.content {
  padding: 15px 10px;
  background-color: #222;
  border-radius: 5px;
}

.bottom_container {
  display: flex;
  gap: 10px;
  color: gray;
  font-size: 14px;
}
